/* FONTS */

@font-face {
    font-family: Ranchers;
    src: url(../fonts/Ranchers/Ranchers-Regular.ttf);
}

@font-face {
    font-family: Langar;
    src: url(../fonts/Langar/Langar-Regular.ttf);
}

@font-face {
    font-family: Balsamiq;
    src: url(../fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf);
}

@font-face {
    font-family: Balsamiq-bold;
    src: url(../fonts/Balsamiq_Sans/BalsamiqSans-Bold.ttf);
}

/* BASIC */

.main-layout {
    max-width: 1300px;
    margin: 0 auto;
    transition: 0.2s;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* FLEX */

.flex {
    display: flex;
}

.flex.inline {
    display: inline-flex;
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.j-start {
    justify-content: flex-start;
}

.flex.j-end {
    justify-content: flex-end;
}

.flex.a-start {
    align-items: flex-start;
}

.flex.a-end {
    align-items: flex-end;
}

/* GRID */

.grid {
    display: grid;
}

/* ALIGNMENT */

.align-center {
    align-items: center;
}

.just-center {
    justify-content: center;
}

.just-between {
    justify-content: space-between;
}

.just-around {
    justify-content: space-around;
}

/* background */

.bg-dim {
    opacity: 0.2;
    filter: blur(5px);
    pointer-events: none;
}

.hide-overflow {
    overflow: hidden;
}