@import "./helpers.css";
/* BASICS */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Balsamiq-bold;
}

body, a, img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

a, select, button {
    cursor: pointer;
}

input {
    caret-color: red;
}

input, select {
    font-family: Balsamiq-bold;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 1rem;
    padding-right: 2rem;
}

select:focus {
    border-color: red;
}

button {
    border: none;
    background-color: inherit;
    font-family: Balsamiq-bold;
    font-size: 1.25rem;
}

button:hover, main img:hover {
    transform: scale(1.03);
}

button:active, main img:active {
    transform: scale(0.98);
}

/* HEADER */

header {
    width: 100vw;
    background-color: #333;
    color: white;
    z-index: 1;
    position: fixed;
    height: 70px;
    line-height: 70px;
}

header .logo {
    font-family: Ranchers;
    font-size: 2rem;
    cursor: pointer;
}

.logo span {
    color: #5DADE2;
}

.search-container {
    display: block;
    float: right;
}

header li {
    margin-inline-end: 30px;
    font-family: Langar;
}

header li:first-child {
    margin-inline-start: 100px;
}

.open-menu {
    color: white;
    display: none;
}

/* MAIN */

main {
    padding-top: 100px;
    padding-bottom: 100px;
}

.gallery {
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 25px;
    row-gap: 25px;
    justify-content: center;
}

.gallery img {
    max-height: 300px;
    max-width: 300px;
    cursor: pointer;
}

/* SECTION */

section {
    padding-top: 100px;
    display: none;
}

canvas {
    border: 1px solid black;
    border-radius: 2px;
    max-height: 500px;
}

.control-box {
    float: right;
    width: 40%;
    border: 1px solid #e1e0e0;
    border-radius: 5px;
}

section .control-box button {
    margin: 15px;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
}

section input, section select {
    width: 100%;
    display: block;
}

section select[name=font-family] :nth-child(2) {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section select[name=font-family] :nth-child(3) {
    font-family: monospace;
    font-weight: bolder;
}

section select[name=font-family] :nth-child(4) {
    font-family: cursive;
    font-weight: bolder;
}

.control-box .btn-group1 button:nth-child(1) {
    background: url(../imgs/icons/up.png) no-repeat;
    background-size: cover;
}

.control-box .btn-group1 button:nth-child(2) {
    background: url(../imgs/icons/down.png) no-repeat;
    background-size: cover;
}

.control-box .btn-group1 button:nth-child(3) {
    background: url(../imgs/icons/add.png) no-repeat;
    background-size: cover;
}

.control-box .btn-group1 button:nth-child(4) {
    background: url(../imgs/icons/trash.png) no-repeat;
    background-size: cover;
}

.control-box .btn-group2 button:nth-child(1) {
    background: url(../imgs/icons/font-increase.png) no-repeat;
    background-size: cover;
}

.control-box .btn-group2 button:nth-child(2) {
    background: url(../imgs/icons/font-decrease.png) no-repeat;
    background-size: cover;
}

.control-box .btn-group3 button:nth-child(1) {
    background: url(../imgs/icons/align-to-left.png) no-repeat;
    background-size: cover;
}

.control-box .btn-group3 button:nth-child(2) {
    background: url(../imgs/icons/align-to-center.png) no-repeat;
    background-size: cover;
}

.control-box .btn-group3 button:nth-child(3) {
    background: url(../imgs/icons/align-to-right.png) no-repeat;
    background-size: cover;
}

/* ASIDE */

/* FOOTER */

footer#footer {
    height: 300px;
    border-top: 1px solid #e1e0e0;
}

footer img {
    height: 150px;
    margin: 5%;
    border-radius: 50%;
    float: left;
}

footer p {}

@media (max-width:1400px) {
    .main-layout {
        max-width: 1000px;
    }
}

@media (max-width:1200px) {
    .main-layout {
        max-width: 850px;
    }
}

@media (max-width:960px) {
    .main-layout {
        max-width: 700px;
    }
    section .container {
        flex-direction: column;
    }
    canvas {
        display: block;
        margin: auto;
    }
    .control-box {
        display: block;
        margin: auto;
        width: auto;
        width: 70%;
    }
}

@media (max-width:760px) {
    .main-layout {
        max-width: 550px;
    }
    .control-box {
        width: 100%;
    }
    canvas {
        max-width: 400px;
        max-height: 400px;
    }
    .gallery img {
        margin-inline-start: -8%;
        max-height: 350px;
        max-width: 350px;
    }
}

@media (max-width:600px) {
    .main-layout {
        max-width: 400px;
    }
    canvas {
        max-width: 350px;
        max-height: 350px;
    }
}

@media (max-width:400px) {
    .main-layout {
        max-width: 300px;
    }
    .gallery img {
        margin-inline-start: 10%;
        max-height: 250px;
        max-width: 250px;
    }
    canvas {
        max-width: 100%;
    }
    .control-box form button {
        font-size: 1.2rem;
        justify-content: space-between;
    }
}