@import "./helpers.css";
/* BASICS */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Balsamiq-bold;
}

body, a, img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

a, select, button {
    cursor: pointer;
}

input {
    caret-color: red;
}

input, select {
    font-family: Balsamiq-bold;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 1rem;
    padding-right: 2rem;
}

select:focus {
    border-color: red;
}

button {
    border: none;
    background-color: inherit;
    font-family: Balsamiq-bold;
    font-size: 1.25rem;
}

button:hover, main img:hover, footer .socials img:hover {
    transform: scale(1.03);
}

button:active, main img:active, footer .socials img:active {
    transform: scale(0.98);
}

/* HEADER */

header {
    width: 100vw;
    background-color: #333;
    z-index: 1;
    position: fixed;
    height: 70px;
    line-height: 70px;
}

header *:not(input) {
    color: white;
    outline: none;
}

.logo {
    font-family: Ranchers;
    font-size: 2rem;
    cursor: pointer;
}

.logo span {
    color: #5DADE2 !important;
}

header .trans-container button {
    background-color: white;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    opacity: 0.9;
}

header .trans-container button:nth-child(2) {
    font-size: 1.5rem;
    padding-bottom: 6px;
}

header li {
    margin-inline-end: 30px;
    font-family: Langar;
}

header li:first-child {
    margin-inline-start: 100px;
}

header li a:hover {
    color: #5DADE2;
}

header button:active, header li a:active {
    color: #5DADE2;
}

.trans-container button:first-of-type {
    color: #5DADE2;
}

.upload-container label {
    background-color: #5DADE2;
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
}

header .upload-container label {
    padding-left: 25px;
    padding-right: 25px;
    opacity: 0.9;
}

input#img-input[type="file"] {
    display: none;
}

.open-menu {
    color: inherit;
    display: none;
}

/* MAIN */

main {
    padding-top: 100px;
    padding-bottom: 100px;
}

.gallery {
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 25px;
    row-gap: 25px;
    justify-content: center;
}

.gallery img {
    max-height: 300px;
    max-width: 300px;
    cursor: pointer;
}

/* SECTION */

section {
    padding-top: 100px;
    display: none;
}

canvas {
    border: 1px solid black;
    border-radius: 2px;
    max-height: 500px;
}

.control-box {
    float: right;
    width: 40%;
    border: 1px solid #e1e0e0;
    border-radius: 5px;
}

.control-box .btn-group3 label {
    border: none;
    cursor: pointer;
}

.control-box input[type="color"] {
    visibility: hidden;
}

.control-box label[for="stroke-input"] {
    background: url(../imgs/icons/text-stroke.png) no-repeat;
    background-size: contain;
}

.control-box label[for="fill-input"] {
    background: url(../imgs/icons/paint.png) no-repeat;
    background-size: contain;
}

.control-box button, .control-box label {
    margin: 15px;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
}

.control-box .share-container button {
    outline: none;
}

section input, section select {
    width: 100%;
    display: block;
}

section select[name=font-family] :nth-child(2) {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section select[name=font-family] :nth-child(3) {
    font-family: monospace;
    font-weight: bolder;
}

section select[name=font-family] :nth-child(4) {
    font-family: cursive;
    font-weight: bolder;
}

.control-box .btn-group1 button:nth-child(1) {
    background: url(../imgs/icons/up.png) no-repeat;
    background-size: contain;
}

.control-box .btn-group1 button:nth-child(2) {
    background: url(../imgs/icons/down.png) no-repeat;
    background-size: contain;
}

.control-box .btn-group1 button:nth-child(3) {
    background: url(../imgs/icons/add.png) no-repeat;
    background-size: contain;
}

.control-box .btn-group1 button:nth-child(4) {
    background: url(../imgs/icons/trash.png) no-repeat;
    background-size: contain;
}

.control-box .btn-group2 button:nth-child(1) {
    background: url(../imgs/icons/switch-lines.png) no-repeat;
    background-size: contain;
}

.control-box .btn-group2 button:nth-child(2) {
    background: url(../imgs/icons/font-increase.png) no-repeat;
    background-size: contain;
}

.control-box .btn-group2 button:nth-child(3) {
    background: url(../imgs/icons/font-decrease.png) no-repeat;
    background-size: contain;
}

.control-box .btn-group4 button:nth-child(1) {
    background: url(../imgs/icons/align-to-left.png) no-repeat;
    background-size: contain;
}

.control-box .btn-group4 button:nth-child(2) {
    background: url(../imgs/icons/align-to-center.png) no-repeat;
    background-size: contain;
}

.control-box .btn-group4 button:nth-child(3) {
    background: url(../imgs/icons/align-to-right.png) no-repeat;
    background-size: contain;
}

/* ASIDE */

aside.sidenav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: #292929;
    z-index: 2;
    display: none;
}

aside.sidenav *:not(input) {
    color: white;
}

.close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    color: inherit;
}

.sidenav .logo {
    margin: 20px;
}

.sidenav-list, aside .trans-container {
    margin-bottom: 50px;
}

aside .trans-container {
    background-color: white;
}

aside .trans-container button {
    color: black;
}

aside .trans-container div:first-child {
    background: url(../imgs/icons/locale.png) no-repeat;
    background-size: cover;
    height: 4rem;
    width: 4rem;
    margin: 10px;
}

aside .trans-container div:last-child {
    margin: 15px;
}

.sidenav-list li {
    margin: 0.5rem;
    border-bottom: 2px solid #c2c2c2;
    margin-bottom: 10px;
    height: 5%;
    width: 60%;
    border-radius: 5px;
    line-height: 5vh;
    cursor: pointer;
    font-weight: 700;
    transition: transform 0.1s;
}

.sidenav-list a {
    display: block;
    width: 100%;
}

.sidenav-list li:hover {
    border-bottom: 2px solid #58c93a;
    transform: scale(1.03);
}

.sidenav-list:active {
    color: #58c93a;
    transform: scale(0.98);
}

.sidenav .upload-container label {
    width: 100%;
    padding: 25px;
}

.sidenav .search-container input {
    width: 100%;
}

.sidenav .search-container button {
    position: relative;
    right: 20px;
    bottom: 35px;
    float: right;
    width: 1.25rem;
    height: 1.25rem;
    background: url(../imgs/icons/search.png) no-repeat;
    background-size: cover;
    opacity: 0.6;
}

/* FOOTER */

footer#footer {
    height: 300px;
    border-top: 1px solid #e1e0e0;
}

footer img {
    height: 150px;
    width: 150px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}

footer .socials-container {
    margin-inline-start: 3rem;
}

footer ul {
    flex-basis: 100%;
}

footer .socials img {
    height: 2rem;
    width: 2rem;
    margin-inline-end: 1.5rem;
    cursor: pointer;
    border-radius: 0;
}

footer p {
    width: 700px;
    word-wrap: break-word;
    margin-inline-start: 5%;
}

footer .logo {
    margin-inline-start: 5rem;
}

/* QUERIES */

@media (max-width:1400px) {
    .main-layout {
        max-width: 1000px;
    }
}

@media (max-width:1100px) {
    .main-layout {
        max-width: 850px;
    }
    .control-box .share-container button {
        font-size: 1.2rem;
    }
    button.open-menu {
        display: block;
    }
    header nav li, header nav .search-container, header .trans-container, header .upload-container {
        display: none;
    }
}

@media (max-width:960px) {
    .main-layout {
        max-width: 700px;
    }
    section .container {
        flex-direction: column;
    }
    canvas {
        display: block;
        margin: auto;
    }
    .control-box {
        display: block;
        margin: auto;
        width: auto;
        width: 70%;
        font-size: 2rem;
    }
    footer p {
        width: 450px;
    }
}

@media (max-width:760px) {
    .main-layout {
        max-width: 550px;
    }
    header nav {
        justify-content: space-between;
    }
    canvas {
        max-width: 400px;
        max-height: 400px;
    }
    .control-box {
        width: 400px;
    }
    .gallery img {
        margin-inline-start: -8%;
        max-height: 350px;
        max-width: 350px;
    }
    .control-box button, .control-box label {
        height: 2rem;
        width: 2rem;
    }
    aside.sidenav {
        width: 50%;
    }
    footer p {
        width: 350px;
    }
}

@media (max-width:600px) {
    .main-layout {
        max-width: 400px;
    }
    canvas {
        max-width: 350px;
        max-height: 350px;
    }
    .control-box {
        width: 350px;
    }
    aside.sidenav {
        width: 60%;
    }
    footer p {
        width: 200px;
    }
}

@media (max-width:450px) {
    .main-layout {
        max-width: 350px;
    }
    .gallery img {
        max-height: 350px;
        max-width: 350px;
    }
    canvas, .control-box {
        max-width: 100%;
    }
    footer#footer *:not(p) {
        margin-inline-start: 1%;
    }
    aside.sidenav {
        height: 80%;
        width: 100%;
    }
    .sidenav-list, aside .trans-container {
        margin-bottom: 25px;
    }
    .sidenav .search-container input {
        position: absolute;
        bottom: 15px;
    }
    .sidenav .search-container button {
        position: absolute;
        bottom: 30px;
    }
}

@media (max-width:400px) {
    .main-layout {
        max-width: 300px;
    }
    .gallery img {
        margin-inline-start: 3%;
        max-height: 280px;
        max-width: 280px;
    }
}

@media (max-width:300px) {
    .main-layout {
        max-width: 200px;
    }
    .control-box button, .control-box label {
        height: 1.5rem;
        width: 1.5rem;
    }
    .control-box .share-container button {
        font-size: 0.8rem;
    }
}